<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>房租首页</title>
	{{> meta}}
</head>
<body>
	{{> headNav}}
	<div class="container">
		{{{body}}}
	</div>
	{{{_sections.test}}}
</body>
</html>